canvas {   display : block;   margin : auto;}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
#home {
  margin-top: 5px;
}
.contact-icon{
  display: block;
  margin: auto;
  width: 65px;
  height: auto;
}
.footer-contact-icon{
  margin-right: 5px;
  height: 40px;
  width: 40px;
}
.contact-text{
  text-align: center;
  font-size: 18px;
}
